@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --brand-primary: var(--black);
  --brand-primary--inverted: var(--white);

  --brand-secondary: var(--black);
  --brand-secondary--inverted: var(--white);

  --main-navigation-color: var(--brand-secondary);
  --main-navigation-color--inverted: var(--brand-secondary--inverted);

  --theme-pageBG: var(--white);
  --theme-pageText: var(--black);

  --green: #00ff38;
  --black: #000000;
  --white: #ffffff;
}

/* correctly style active state on dark navbars */

[data-tone='navbar'][class*='selected'] > span {
  background: var(--brand-secondary--inverted) !important;
  color: var(--brand-secondary) !important;
}

/* [data-ui='PaneItem'][data-selected] svg {
  color: var(--green);
} */

/* [data-ui='PaneItem'][data-pressed] svg {
  color: var(--brand-secondary);
} */

/* [data-ui='PaneItem']:active svg {
  color: var(--green);
} */

/* more obvious cursors for studio elements */

.item:not([disabled]),
.title,
button:not([disabled]) {
  cursor: pointer !important;
}

.isCollapsed .title {
  cursor: e-resize !important;
}

[class*='drag'] button {
  cursor: grab !important;
}

li[class*='moving'],
li[class*='moving'] * {
  pointer-events: all !important;
  cursor: grabbing !important;
}

/* high-fidelity renders */
[data-slate-editor] {
  background: var(--theme-pageBG);
  color: var(--theme-pageText);
}

.pt-editable * {
  font-family: 'Inter', 'Helvetica Neue', sans-serif !important;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 0.5rem 1.25rem;
  background: var(--theme-pageBG) !important;
  color: var(--theme-pageText) !important;
  border: 1px solid;
  border-radius: 9999px;
  box-shadow: 0 0 0 5px var(--theme-pageBG);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}

.btn * {
  font-weight: 600;
}

.btn.is-primary {
  background: var(--theme-pageText) !important;
  color: var(--theme-pageBG) !important;
  border-color: var(--theme-pageText);
}

.btn.is-white {
  background: white !important;
  color: var(--theme-pageText) !important;
  border-color: white;
}

.btn.is-large {
  padding: 0.5rem 1.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

.btn.is-large * {
  font-weight: 400;
}

.btn.is-block {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}
