@tailwind utilities;

@layer utilities {
  html {
    &.is-loading,
    &.is-loading * {
      @apply cursor-wait !important;
    }
  }

  .h-dvh {
    @apply h-[calc(var(--dvh,1vh)*100)];
  }

  .h-lvh {
    @apply h-[calc(var(--vh,1vh)*100)];
  }

  .focus-visible-dashed {
    @apple focus-visible:outline-dashed focus-visible:outline-1 focus-visible:outline-offset-2 focus-visible:outline-current;
  }

  a[href='#content'].skip-link {
    @apply block fixed top-0 left-1/2 -translate-x-1/2 -translate-y-full z-9 px-8 py-4 bg-pageBG text-pageText text-12 leading-125 font-semibold uppercase;

    &:focus {
      @apply translate-y-0 outline-none;
    }
  }

  .cursor {
    @apply fixed top-0 left-0 w-0 h-0 pointer-events-none;
    z-index: 120;

    &--content {
      @apply absolute transform-gpu -translate-x-1/2 -translate-y-1/2;
    }

    /* Simple dot cursor */
    span {
      @apply block relative w-12 h-12;

      &::before {
        @apply absolute inset-0 border rounded-full;
        transform: scale(0);
        will-change: transform;
        transition: transform 0.5s 0.1s cubic-bezier(0.22, 1, 0.36, 1);
        content: '';
      }

      &::after {
        @apply absolute inset-0 bg-pageText rounded-full;
        will-change: transform;
        transform: scale(0.625);
        transition: transform 0.5s 0.1s cubic-bezier(0.22, 1, 0.36, 1);
        content: '';
      }
    }

    &.is-hovering {
      span {
        &::before {
          transform: scale(1);
        }

        &::after {
          transform: scale(0.125);
        }
      }
    }
  }
}
